<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-buttons class="menu">
          <ion-menu-button color="dark" menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-col>
      <ion-col align="center">
        <ion-title align="center">FuelEnts</ion-title>
      </ion-col>
      <ion-col align="right">
        <img class="nav-logo" src="../../../assets/icon/Group 10424.png">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher style="background-color: #f7f7f7;;" mode="ios" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor='let item of fuelentList'>
    <ion-card-header class="header">
      <ion-row>
        <ion-col size="1.3">
          <ion-fab class="fuelent-initial">
            <ion-fab-button color="light">
              <ion-label class="initial">{{item?.initial}}</ion-label>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
        <ion-col size="8">
          <span>
            <h6 class="fuelent-name"><b>{{item?.vendor_name || "N/A"}}</b></h6>
          </span>
        </ion-col>
        <ion-col align="right" size="2.5">
          <h6 (click)="setDiscount(item)" class="discount">₹ {{item?.discount || "N/A"}}&nbsp;
            <img class="change" src="../../../assets/icon/edit.png">
          </h6>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row (click)="showFillings(item?.vendor_id)" class="fuelents" style="padding-top: 0.6em;">
        <ion-col size="12" class="fuelent-detail">
          <ion-label>
            Address:&nbsp;
          </ion-label>
          <b>{{item?.address || "N/A"}}</b>
        </ion-col>
      </ion-row>
      <ion-row class="fuelents">
        <ion-col (click)="showFillings(item?.vendor_id)" size="8" class="fuelent-detail">
          <ion-label>
            GST
          </ion-label><br>
          <b>{{item?.GST || "N/A"}}</b>
        </ion-col>
        <ion-col align="center" size=2>
          <ion-fab-button (click)="call(item?.contact)" mode="ios" class="icons" size="small">
            <ion-icon color="dark" name="call"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col size=2>
          <ion-fab-button (click)="mail()" mode="ios" class="icons" size="small">
            <ion-icon color="dark" name="mail"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="fuelents">
        <ion-col size="3" class="fuelent-detail">
          <ion-label>
            Fillings
          </ion-label><br>
          <b>{{item?.total_fillings || "N/A"}}</b>
        </ion-col>

        <ion-col size="4" class="fuelent-detail">
          <ion-label>
            Monthly Sale
          </ion-label><br>
          <b>{{item?.current_month_sale || "N/A"}} ltrs</b>
        </ion-col>

        <ion-col size="5" class="fuelent-detail">
          <ion-label>
            Monthly Revenue
          </ion-label><br>
          <b>₹ {{item?.current_month_revenue || "N/A"}}/-</b>
        </ion-col>
      </ion-row> -->
    </ion-card-content>
  </ion-card>
  <div class="no-data" align="center" *ngIf="fuelentLength == 0">
    <img src="../../../assets/icon/no-data.png">
  </div>
</ion-content>
