.nav-logo {
  padding-right: 7px;
  float: right;
  width: 2.2em;
}

.header {
  background-color: #f7f7f7;
}

.padding-content {
  padding: 0px 16px;
  text-transform: capitalize;
}

.subheading {
  font-size: 0.8em;
  margin-top: -1%;
  color: rgb(92, 92, 92);
  line-height: 1.2em;
}

.div-for-analytics {
  margin-top: 10px;
  height: 40%;
}

.grey-box {
  border-radius: 2px;
  background-color: #ebebeb;
  margin: 4px;
}

.grey-box p {
  margin: 0;
}

.rounded {
  width: 50px;
  background: white;
  padding-top: 8px;
  text-align: center;
  border-radius: 50%;
  height: 50px;
}

p.value-text {
  font-weight: 600;
}

.filling-detail {
  color: #222428;
  font-size: 0.9em;
  padding: 0.5em;
}

.filling {
  margin-top: -2%;
  padding-right: 0%;
}

.orange {
  height: 3.5em;
  width: 0.5em;
  margin-left: -2px;
  background-color: rgb(235, 143, 57);
}

.vendor {
  font-weight: 600;
  padding-top: 1.5em;
  color: #FF7810;
  font-size: 1em;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.address {
  text-transform: capitalize;
}

.heading {
  background-color: rgb(128, 128, 128);
  height: 3em;
  padding-left: 2%;
  padding-top: 0.1px;
  color: white;
}

.card-header {
  background-color: white;
  margin-top: -2%;
  height: 4.1em;
  margin-bottom: -2%;
  border-bottom: 0.1px solid rgb(219, 219, 219);
}

.drop {
  color: #222428;
  font-size: 1.5em;
  margin-bottom: -1em;
}

.pending-orders {
  width: 90%;
  margin-left: 5%;
}

.no-data {
  font-size: 0.9em;
  color: rgb(92, 92, 92);
  line-height: 1.2em;
}

.quantity {
  font-weight: 600;
  padding-top: 1.8em;
  color: #FF7810;
  font-size: 0.9em;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.status {
  zoom: 1.4;
  padding-top: 0.8em;
  font-weight: bolder;
}

.set-rate {
  padding-top: 3em;
  color: #FF7810;
  font-weight: 500;
  font-size: 0.8em;
}
